# Functions
src/Functions/bin
src/Functions/obj
src/Functions/.idea
src/Functions/*.DotSettings.user

# FunctionsExample
src/FunctionsExample/bin
src/FunctionsExample/obj
src/FunctionsExample/.idea
src/FunctionsExample/*.DotSettings.user

# FunctionsTest
src/FunctionsTest/bin
src/FunctionsTest/obj
src/FunctionsTest/.idea
src/FunctionsTest/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

# docs
.fsdocs

*.DotSettings.user